@use 'variables' as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.content {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-width;

  > div {
    flex: 1;
  }
}

section {
  margin-top: 4rem;
}

main {
  &[tabIndex] {
    &:focus-visible {
      outline: 2px solid $twilight-violet;
      outline-offset: 4px;
    }
  }
}
