@use '../styles/variables' as *;

.home {
  .home-links {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    @media screen and (min-width: ($max-content-width + 2rem)) {
      gap: 1rem;
    }
  }
}
