@use '../styles/variables' as *;

.sample-nav {
  margin-bottom: 3rem;

  .nav {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;

    > li {
      a[aria-current='page'] {
        font-weight: 700;
        color: $ink-deep;
        text-decoration: none;
      }

      button {
        background: none;
        border: none;
        font: inherit;
        color: $harbor-blue;
        cursor: pointer;
        padding: 0;
        text-decoration: underline;
        text-underline-offset: 0.125em;
        position: relative;

        &:hover,
        &:focus-visible {
          color: $ink-deep;
          text-decoration: none;
        }

        &[aria-expanded='true'] + .subnav {
          display: flex;
        }
      }
    }
  }

  .subnav {
    padding: 0.5rem;
    background-color: $twilight-violet;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    position: absolute;
    width: max-content;
    margin-top: 0.5rem;

    &[hidden] {
      display: none;
    }

    a {
      display: block;
      padding: 0.25em;
      color: $pure-white;
      font-weight: bold;

      &:hover,
      &:focus-visible {
        outline-color: $pure-white;
      }
    }
  }
}

.breadcrumb {
  ol {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0.5rem;

    li {
      &:not(:last-child)::after {
        content: '/';
        margin-left: 0.5rem;
        color: $ink-deep;
      }

      a {
        color: $harbor-blue;
        text-decoration: none;

        &:hover,
        &:focus-visible {
          text-decoration: underline;
        }
      }

      &[aria-current='page'] {
        font-weight: 700;
        color: $ink-deep;
      }
    }
  }
}
