@use "../styles/variables" as *;
@use "../styles/links" as *;

.components {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 1rem;

  @media screen and (min-width: $breakpoint-desktop) {
    gap: 2rem;
  }

  .card {
    position: relative;
    border-radius: 2.5rem;
    corner-shape: squircle;
    border: 0.3rem solid $harbor-blue;
    padding: 1rem;
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;

    &:has(a:focus-visible),
    &:hover {
      background-color: $pure-white;
      border-color: $berry-ink;

      .h3 {
        color: $berry-ink;

        &::before {
          transform: rotate(-180deg) translateX(0.15em);
        }

        &::after {
          transform: translateX(0.15em);
        }
      }
    }

    .h3 {
      display: flex;
      align-items: center;
      color: $harbor-blue;

      &::before,
      &::after {
        content: "";
        background-color: currentColor;
        @include mask-icon("/assets/icon-chevron.svg");
        width: 0.825em;
        height: 0.825em;
        display: inline-flex;
        transition:
          background-color 0.3s ease,
          transform 0.3s ease;
      }

      &::before {
        transform: rotate(-180deg);
      }
    }

    a {
      text-decoration: none;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
