@use '../styles/variables' as *;

.table-of-content {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  border-left: 3px solid $berry-ink;
  width: 240px;
  backdrop-filter: blur(2px);

  &::after {
    background-color: $paper-mist;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      line-height: 1.25;

      &:last-child {
        a {
          padding-bottom: 0;
        }
      }

      a {
        display: flex;
        color: $ink-deep;
        padding-bottom: 0.35rem;

        &:hover {
        }
      }

      &.is-active {
        a {
          font-weight: 600;
          text-decoration: none;
          pointer-events: none;
        }
      }
    }
  }
}
